<section class="people-talk container">
    <h2 class="people-talk__title">People Are Talking About Fork</h2>
    <nav class="people-talk__content content">
        <ul class="content__list ">
            <li class="content__item">
                <div class="content__item-img">
                <img src="@img/people1.svg" alt="">
                </div>
                <p class="content__item-text">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis. </p>
            </li>
            <li class="content__item">
                <div class="content__item-img">
                <img src="@img/people2.svg" alt="">
                </div>
                <p class="content__item-text">Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus molestie neque ac, mollis eleifend nibh.</p>
            </li>
            <li class="content__item">
                <div class="content__item-img">
                <img src="@img/people3.svg" alt="">
                </div>
                <p class="content__item-text">In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula. </p>
            </li>
            <li class="content__item">
                <div class="content__item-img">
                <img src="@img/people4.svg" alt="">
                </div>
                <p class="content__item-text">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet. Proin id dignissim magna. Sed varius urna et pulvinar venenatis. </p>
            </li>
            <li class="content__item">
                <div class="content__item-img">
                <img src="@img/people5.svg" alt="">
                </div>
                <p class="content__item-text">Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla faucibus lorem id arcu consequat faucibus. </p>
            </li>
            <li class="content__item">
                <div class="content__item-img">
                    <img src="@img/people6.svg" alt="">
                </div>
                <p class="content__item-text">Fusce pharetra erat id odio blandit, nec pharetra eros venenatis. Pellentesque porttitor cursus massa et vestibulum.</p>
            </li>
        </ul>
    </nav>
    <p class="people-talk__text">Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
    <svg class="people-talk__line" width="245" height="2" viewBox="0 0 245 2" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="245" height="2" fill="#645766"/>
        </svg>
</section>