.people-talk{
    background-image: url('../img/peopleBackground.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    text-align: center;

    &__title{
        font-weight: 700;
    }
    &__text{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #A291A5;
        margin-bottom: 19px;
    }
}


.content{
    margin-top: 75px;
    &__list{
        display: grid;
    }
    &__item-text{
        font-style: italic;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }
    &__item-img{
        height: 86px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
}


@include for-phone-only {
    .people-talk{
        margin-bottom: -11px;
        height: 1545px;
        &__title{
            text-align: center;
            margin-top: 57px;
            font-size: 36px;
            line-height: 48px;
    
        }
        &__content{

        }
        &__text{
            margin:37px 0 22px;
        }
    }
    .content{
        &__list{
            display: flex;
            flex-direction: column;
            gap: 45px;
            }
    }
} 


@include for-tablet-only {
    .people-talk{
        margin-bottom: -8px;
        &__title{
            margin-top: 86px;
            font-size: 48px;
            line-height: 50px;
    
        }
        &__text{
            margin-top: 68px;
        }
    }
        .content{
    
            &__list{
                grid-template-rows: repeat(3, 1fr);
                grid-template-columns: repeat(2, 1fr);
                row-gap: 58px;
            }
        }
    }


@include for-desktop-only {
    .people-talk{
        margin-bottom: -8px;
        &__title{
            margin-top: 108px;
            font-size: 42px;
            line-height: 44px;
    
        }
        &__text{
            width: 84%;
            margin-top: 118px;
        }
    }
    .content{
            display: flex;
            align-items: center;
            &__list{
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: repeat(3, 1fr);
                row-gap: 112px;
                column-gap: 90px;
            }
            &__item{
                text-align: center;
            }   

        }

    }
